a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0A0A0A;
}

/*///////////////HEADER//////////////////*/
.header {
    background: #0A0A0A;
    padding: 33px 0;
    color: #717171;
    font-size: 24px;
    line-height: 29px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    display: none;
}

.menu {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.p-r-30 {
    padding-right: 30px;
}

.phone {
    flex-grow: 1;
    flex-basis: 0;
    text-align: right;
}

/*///////////////HEADLINE//////////////////*/
.headline {
    background: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}

.title {
    font-size: 64px;
    line-height: 77px;
    font-weight: 700;
    color: #490E84;
    margin: 0 0 40px;
}

.headline-img {
    margin-bottom: 25px;
}

.headline-button {
    display: inline-block;
    background: #490E84;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    padding: 22px 117px 19px;

    color: #FFFFFF;
}

/*///////////////NEWS//////////////////*/
.new {
    padding: 90px 0 150px;
}

.new-title,
.color-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    text-align: center;
    color: #717171;
    margin: 0 0 50px;
}

.new-info {
    display: flex;
    align-items: center;
}

.new-text p {
    max-width: 560px;
    margin: 0 0 30px;
}

.new-text b {
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    display: block;

}

.new-image {
    margin-left: 190px;
}

/*margin-bottom: 30px;*/
/*///////////////COLOR//////////////////*/
.color {
    padding-bottom: 150px;
}

.color-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.color-item img {
    margin-bottom: 20px;
}

.color-item h3 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 26px;
}

.color-item p {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
}

/*///////////////CONTACT//////////////////*/
.contact-inner {
    display: flex;
    color: #FFFFFF;
    background: #574B63;
}

.contact-form {

    width: 100%;
    padding: 140px 60px;
    text-align: center;
}

.contact-title {
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 0 0 62px;
    text-align: left;
}

.contact-input {
    padding: 10px 0;
    background: #574B63;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.contact-input::placeholder {

    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    opacity: 0.5;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contact-form h2 {
    text-align: center;
}

.contact-form p {
    opacity: 0.5;
    text-align: center;
    margin: 30px 0;
}

.contact-btn {
    height: 50px;
    width: 240px;
    border-radius: 30px;
    padding: 16px 81px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #490E84;
    cursor: pointer;
    background: #FFFFFF;
}

/*///////////////FOOTER//////////////////*/
.footer {
    height: 150px;
    background: #0A0A0A;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-link {
    margin: 0;
    flex-basis: 0;
    flex-grow: 1;
    color: #717171;
}

.footer-phone {
    color: #717171;
    flex-basis: 0;
    flex-grow: 1;
    text-align: right;
    font-size: 24px;
}

/*///////////////MEDIA//////////////////*/
@media (max-width: 1200px) {
    .headline-img {
        max-width: 100%;
    }

    .contact-inner {
        display: block;
    }

    .contact-form {
        width: auto;
    }

    .contact-img {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .color-item {
        width: 50%;
        margin-bottom: 30px;
    }

    .color-list {
        display: flex;
        flex-wrap: wrap;
    }

    .contact {
        background: #574B63;
    }
}


@media (max-width: 960px) {
    .menu-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        order: 1;
        background-color: transparent;
        cursor: pointer;
        border: none;
        position: relative;
        z-index: 50;
    }

    .logo,
    .phone {
        position: relative;
        z-index: 50;
    }

    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #717171;;
        height: 2px;
        transition: .3s ease;

    }

    .btn-line:nth-child(1) {
        top: 0;
    }

    .btn-line:nth-child(2) {
        top: 20px
    }

    .btn-line:nth-child(3) {
        top: 20px
    }

    .btn-line:nth-child(4) {
        top: 40px
    }

    .menu-open .btn-line:nth-child(1) {
        transform: scaleX(0)
    }

    .menu-open .btn-line:nth-child(2) {
        transform: rotate(45deg)
    }

    .menu-open .btn-line:nth-child(3) {
        transform: rotate(-45deg)
    }

    .menu-open .btn-line:nth-child(4) {
        transform: scaleX(0)
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0A0A0A;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transform: translateY(-100%);
    }

    .menu-open .menu {
        transform: translateY(0%);
        transition: .3s ease;
    }

    .menu-item {
        padding: 50px;
        font-size: 56px;
    }

    .phone {
        text-align: center;
    }

    .new {
        padding: 50px 0 40px;
    }

    .new-image {
        display: none;
    }

    .new-text p {
        max-width: 100%;
        margin: 0 0 30px;
    }

    .new-text b {
        max-width: 100%;
        margin: 0 0 30px;
    }

    img.logo-img {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .headline, .new {
        padding: 50px 0 30px;
    }

    .color-title, .contact-title {
        margin: 0 0 40px;
    }

    .color {
        padding-bottom: 40px;
    }

    .contact-form {
        padding: 50px 60px;
    }
}

@media (max-width: 640px) {
    .footer-inner {
        flex-direction: column;
        padding: 20px 0;
    }

    .logo-img {
        margin: 10px 0;
    }

    .footer-phone {
        font-size: 20px;
    }

    a.menu-link {
        font-size: 35px;
    }

    ul.menu {
        padding-top: 20px;
        height: 500px;
    }

    .menu-item {
        padding: 30px;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 34px;
        line-height: 42px;
    }

    .headline-button {
        font-size: 18px;
        line-height: 19px;
        padding: 16px 77px 16px;
    }

    .new-title, .color-title, .contact-title {
        font-size: 26px;
    }

    .new-text b {
        font-size: 16px;
    }

    .color-item {
        width: 100%;
    }

    .color-item img {
        width: 85%;
    }

    .contact-form {
        padding: 40px 30px;
    }

}

@media (max-width: 420px) {
    a.phone {
        font-size: 20px;
    }
}

@media (max-width: 375px) {
    .contact-form {
        padding: 50px 10px;
    }

    img.logo-img {
        width: 50%;
    }

    a.phone {
        font-size: 16px;
        left: -10px;
    }

    .menu-btn {

        width: 40px;
    }
}


